html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
header {
  height: 40px;
  width: 100%;
  background-color: slategray;
  text-align: right;
  padding: 10px 10px 0px 0px;
}
header a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: auto;
  padding-right: 10px;
}
header h1 {
  text-align: center;
  font-size: 32px;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #919090;
  margin: auto;
}
html .content,
body .content {
  height: 100%;
  max-width: 800px;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 50px;
  margin: auto;
}
html .content .picture,
body .content .picture {
  width: 700px;
  height: 300px;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}
html .content .picture h1,
body .content .picture h1 {
  padding: 15px 0px 0px 0px;
  font-size: 38px;
  font-family: Anton, sans-serif;
}
html .content .picture img,
body .content .picture img {
  border-radius: 10px;
}
html .content .information,
body .content .information {
  position: relative;
  margin: auto;
}
html .content .information .aboutme,
body .content .information .aboutme {
  float: left;
  background-color: #f0f0f0;
  width: 400px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}
html .content .information .learning,
body .content .information .learning {
  display: inline-block;
  float: left;
  width: 290px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
html .content .information .learning ul,
body .content .information .learning ul {
  list-style-type: disc;
  list-style-position: inside;
}
html .content .information h1,
body .content .information h1 {
  font-size: 24px;
  font-family: Anton, sans-serif;
  padding-bottom: 10px;
  text-align: center;
}
html .footer,
body .footer {
  width: 800px;
  height: 40px;
  margin: auto;
  text-align: center;
  bottom: 0;
  background-color: #575757;
}
